/* Estilos generales */
#mensaje {
  color: rgb(160, 160, 255); /* Cambia el color del texto a azul */
  background-color: white; 
    padding: 20px; 
    text-align: center; 
    color: rgb(79, 79, 219); 
}

h1 {
  display: none; 
  text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  form {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para mensajes de alerta */
  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  